.App {
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box:nth-child(odd) {
  background: #00b2e3;
}

.box:nth-child(even) {
  background: #44546A;
}

.box {
  width: 15vw;
  height: 15vh;
  box-shadow: 5px 8px 5px #888888;
  border-radius: 5px;
}